.cover-image {
    background-image: url('../../media/img.png');
    background-size: cover;
    min-height: 450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #5e5e5e;
}

body {
    background-color: #ccc;
}

.anchor-offset {
    position: relative;
    top: -100px;
    display: block;
    height: 0;
    visibility: hidden;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.card-click:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}