{% load custom_filters %}
{% include 'header_and_footer/header.html' %}
<style>
    .card-img-top {
        border-radius: 15px 15px 0 0;
        width: 350px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>
<div class="container">
    <div class="mb-4 d-flex" style="margin-top: 20px">
        <div style="margin-right: 20px">
            <img src="{% if barber.photo %}{{ barber.photo.url }}{% else %}../../../media/empty.png{% endif %}"
                 class="card-img-top" alt="{{ barber.name }}">
        </div>
        <div>
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">{{ barber.name }} {% if average_rating %}{{ average_rating|floatformat:1 }} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="yellow"
                                             class="bi bi-star-fill" viewBox="0 0 20 20">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>{% endif %}</h4>
                    <p class="card-text"><strong>Описание:</strong> {{ barber.description }}</p>
                    {% if average_rating %}
                        <p class="card-text"><strong>Средний рейтинг:</strong> {{ average_rating|floatformat:1 }} из 5</p>
                    {% else %}
                        <p class="card-text"><strong>Средний рейтинг:</strong> Нет оценок</p>
                    {% endif %}
                </div>
            </div>
            <div class="card shadow-sm my-4">
                <div class="card-header">
                    <h4 class="mb-0">Отзывы</h4>
                </div>
                <ul class="list-group list-group-flush">
                    {% for review in page_obj %}
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    {% for _ in review.rating|times %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>
                                    {% endfor %}
                                </div>
                                <small class="text-muted">{{ review.created_at}}</small>
                            </div>
                            <div class="mt-2">
                                {{ review.comment }}
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">Пока нет отзывов</li>
                    {% endfor %}
                </ul>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                    <nav aria-label="Page navigation">
                        <ul class="pagination mb-0">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&laquo;</span>
                                </li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Форма для оставления отзыва -->
            <div class="card shadow-sm my-4">
                <div class="card-header">
                    <h4 class="mb-0">Оставить отзыв</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'add_review' %}">
                        {% csrf_token %}
                        <input type="hidden" name="barber_id" value="{{ barber.id }}">
                        <div class="mb-3">
                            <label for="rating" class="form-label">Рейтинг:</label>
                            <input type="number" name="rating" id="rating" class="form-control" min="1" max="5" required>
                        </div>
                        <div class="mb-3">
                            <label for="comment" class="form-label">Комментарий:</label>
                            <textarea name="comment" id="comment" class="form-control" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'header_and_footer/footer.html' %}