{% include 'header_and_footer/header.html' %}
<div>
    <div class="cover-image">
        <div>
            <h1>Нашему Барбершопу более 10 лет!</h1>
            <a href="/application" class="btn btn-warning mt-3">Онлайн запись</a>
        </div>
    </div>
    <div class="container my-5">
        <span id="services" class="anchor-offset"></span>
        <h2 class="text-center my-3">Наши услуги</h2>
        {% for service in services %}
            <div class="service-info">
                <span>{{ service.name }}</span>
                <span>{{ service.duration }} мин. / {{ service.price }} сом</span>
            </div>
        {% endfor %}
    </div>
    <div class="container my-5">
        <span id="barbers" class="anchor-offset"></span>
        <h2 class="text-center my-3">Наши барберы</h2>
        <div class="row row-cols-md-3 g-5">
            {% for barber in barbers %}
                <a class="col" style="display: block" href="{% url 'barber_detail' barber.pk %}">
                    <div class="d-block text-dark card card-click">
                        <img src="{{ barber.photo.url }}" alt="{{ barber.name }}" class="card-img-top"
                             >
                        <div class="card-body">
                            <h5 class="card-title">{{ barber.name }}</h5>
                            <p style="color: #808080FF; font-size: 14px ">{{ barber.description }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% include 'header_and_footer/footer.html' %}